In [1]:
import numpy as np
import seaborn as sns
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
from pydataset import data

### COMPARISON OF MEANS EXERCISES

In [2]:
# 1 a type oftest for:
# sig DIFF in student grades on second floor compared to ALL studenrts?

# ANSwER: 1-Sample(2nd-floor), 2-Tailed T-Test

# 1 b
# Adults who drink Milk TALLER than adults who do not?

# ANSWER: 2-Sample(drink,non-drink), 1-Tailed(Taller) T-Test

# 1 c
# Price of gas higher in TX or NM?

# ANSWER: 2-Sample(TX, NM), 1-Tailed (higher price) T-Test

# 1 d DIFF in stress among DS studs and WDev studs and CA studs

# ANSWER multi-sample (ttest_ind)(DS, WDEV, CA), 2-TAILED(DIFFERENCES, NO DIRECTIONALITY IMPLIED) t_test

#### ACE REALTY DIFF between two OFFICES

In [ ]:
# 2-Sample, 2-Tailed .ttest_ind
# OFFICE 1: mean=90 days, sd=15 days
# OFFICE 2: mean=10 days, sd=20 days 
# Does STATISTICALLY SIG DIFF EXIST?

In [8]:
check_α = 0.05
np.random.normal(90,15,2)

array([70.31144306, 90.62881694])

In [6]:
# GENERATE ARRAYS
office_1 = np.random.normal(90,15,40)
office_1

array([ 83.28704839,  75.09626526,  75.62420041,  76.95059341,
        74.65670772,  80.66988051,  94.58851911,  59.99994864,
        76.00383253,  99.39686255, 108.16041884, 101.0200238 ,
        87.20928826,  61.77861618,  57.2863689 ,  93.85585831,
        94.86844995, 100.33529853,  72.40532698,  90.21644057,
        78.33650815,  94.67532117,  84.10284257,  76.95222808,
       100.28567717,  97.91460527,  88.92894709, 115.57093049,
       112.53307534,  71.64940513, 103.92606944,  73.26631485,
        62.32315409,  95.80815306, 113.39241542,  93.96098552,
        99.34017626,  96.5376763 ,  95.63617553, 115.29622041])

In [7]:
office_2 = np.random.normal(100,20,50)
office_2

array([121.04700104, 124.54277993, 111.40090317, 117.24589596,
        71.38787533, 101.37344432,  83.59308844, 109.76454282,
        72.14676677,  78.05558059,  76.20610076,  82.92855423,
       158.58208107, 100.9133553 , 104.50669342, 132.10496947,
       102.49354154,  90.27461134,  63.29023188,  98.02123116,
       107.8607304 ,  86.42861096, 109.72910928,  77.39659818,
        66.43513008,  85.23864758, 120.74238538, 103.18780655,
        80.9402152 , 115.07950856, 124.66002731,  94.12174771,
       147.56929972,  98.87221859, 101.71824262,  89.30343383,
        92.48917782, 120.83340309,  90.40117868,  93.13403101,
        93.14580006,  57.42807674,  97.36243884,  60.40400073,
       110.41801091, 111.86659619, 107.85289267, 126.73967408,
        89.17991745,  86.9279313 ])

In [9]:
# Levene test to test for statistically significant diff in var's
_, levene_p = stats.levene(office_1,office_2)
levene_p < check_α

False

In [10]:
levene_p

0.13421692319231113

In [11]:
# Actually, we can just run the test given thatwe have the SUmmary Statistics
# ok ACTUAL TEST NOW!!!!

t_stat, p_val = stats.ttest_ind(office_1,
                                office_2,
                               equal_var=True)

In [12]:
t_stat, p_val

(-2.6290238155085275, 0.010104970753889032)

In [13]:
p_val < check_α # with a p_value smaller than alpha level of 0.05 reject the null (Ho) and assert that the two 
# samples (office 1 and office 2) come form different distributons.  With an alpha of 0.05, this conclusion 
# will be untrue 5% of the time.

True

### MPG DATA QUESTIONS

In [15]:
mpg = data('mpg')
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [16]:
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact

In [21]:
# new column named avg_mileage = mean of both city and hwy mpg
mpg['avg_mpg'] = round((mpg.hwy + mpg.cty) / 2,1)
mpg.head(10)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0,22.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5,22.5
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0,22.0
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5,20.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0,24.0

In [22]:
#DF for 1999 cars
mpg_1999 = mpg[mpg['year'] == 1999]
mpg_1999.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0,22.0

In [23]:
# DF for 2008 cars
mpg_2008 = mpg[mpg['year'] == 2008]
mpg_2008.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5,22.5
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0,24.0
11,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,23.0,23.0

#### DIFF EXIST in FUEL_EFFIECIECY (avg_mpg)  betweem 1999 cars and 2008 cars

In [24]:
# 3 a DIFF in fuel efficiency between 1999 and 2008
# First, lets check our variance between the groups

_, levene_p = stats.levene(mpg_1999.avg_mpg,mpg_2008.avg_mpg)
levene_p < check_α

False

In [28]:
mpg_1999.avg_mpg.describe()

count    117.000000
mean      20.222222
std        5.207937
min       13.000000
25%       15.500000
50%       21.000000
75%       22.500000
max       39.500000
Name: avg_mpg, dtype: float64

In [29]:
mpg_2008.avg_mpg.describe()

count    117.000000
mean      20.076923
std        4.908918
min       10.500000
25%       16.000000
50%       20.500000
75%       23.500000
max       32.500000
Name: avg_mpg, dtype: float64

In [25]:
levene_p # Variance is similar and checks out

0.855517569468803

In [26]:
# ok ACTUAL TEST NOW!!!!
# Let us use multi-sample (ttest_ind), 2 -tailed(does diff exist?) ttest 

t_stat, p_val = stats.ttest_ind(mpg_1999.avg_mpg,
                                mpg_2008.avg_mpg,
                               equal_var=True)

In [27]:
t_stat, p_val

(0.21960177245940962, 0.8263744040323578)

In [30]:
p_val < check_α # this makes sense, givent hat the two means are almost on top of one another with similar 
# standard dist

False

#### COMPACT cars MORE Fuel-Efficcient than ALL cars?
This will be 1-sample (one class vs ALL), 1-tailed(MORE Fuel_Efficient) TTest

In [31]:
# 3 b COMPACT cars MORE Fuel-Efficcient than ALL cars?
# Ho: COMPACT cars are equally or less fuel-efficient than ALL cars in aggregate
# Ha: COMPACT cars MORE fuel-eficient than ALL cars in aggregate
#DF for COMPACT cars
mpg_compact = mpg[mpg['class'] == 'compact']
mpg_compact.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0

In [32]:
mpg_compact.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47 entries, 1 to 221
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   manufacturer     47 non-null     object
 1   model            47 non-null     object
 2   displ            47 non-null     float64
 3   year             47 non-null     int64
 4   cyl              47 non-null     int64
 5   trans            47 non-null     object
 6   drv              47 non-null     object
 7   cty              47 non-null     int64
 8   hwy              47 non-null     int64
 9   fl               47 non-null     object
 10  class            47 non-null     object
 11  average_mileage  47 non-null     float64
 12  avg_mpg          47 non-null     float64
dtypes: float64(3), int64(4), object(6)
memory usage: 5.1+ KB

In [36]:
# lets check our variance between the group of interest and ALL Cars
_, levene_p = stats.levene(mpg_compact.avg_mpg,mpg.avg_mpg)
levene_p < check_α

True

In [37]:
levene_p

0.0006283349942996054

In [38]:
mpg_compact.avg_mpg.describe()

count    47.000000
mean     24.212766
std       3.527446
min      19.500000
25%      22.000000
50%      23.500000
75%      25.250000
max      38.500000
Name: avg_mpg, dtype: float64

In [39]:
mpg.avg_mpg.describe()

count    234.000000
mean      20.149573
std        5.050290
min       10.500000
25%       15.500000
50%       20.500000
75%       23.500000
max       39.500000
Name: avg_mpg, dtype: float64

In [59]:
# ok ACTUAL TEST NOW!!!!
# Let us use 1-sample (ttest_1samp), 1-tailed(MORE fuel-efficient) ttest 

t_stat, p_val = stats.ttest_1samp(mpg_compact.avg_mpg,mpg.avg_mpg.mean())
t_stat,p_val/2

(7.896888573132533, 2.0992818971585743e-10)

In [53]:
mpg.avg_mpg.mean()

20.14957264957265

In [61]:
p_val
t_stat

7.896888573132533

In [62]:
(p_val/2)

2.0992818971585743e-10

In [65]:
(p_val/2) < check_α # reject the NULL and assert that COMPACT cars are inferred to be MORE fuel-efficient
#than ALL cars in agg with a p_value of close to 0

True

In [66]:
mpg.avg_mpg.mean()
mpg_compact.avg_mpg.mean()

24.21276595744681

#### MANUAL cars BETTER fuel-efficiency than AUTO cars
This will be 1-sample (one class vs ALL), 1-tailed(MORE Fuel_Efficient) TTest

In [69]:
# 3 c MANUAL cars MORE Fuel-Efficcient than AUTO cars?
# Ho: MANUAL cars are equally or less fuel-efficient than AUTO cars
# Ha: MANUAL cars MORE fuel-eficient than AUTO cars 
#DF for COMPACT cars
mpg_manual = mpg[mpg.trans.str.startswith('manu')]
mpg_auto = mpg[mpg.trans.str.startswith('auto')]

In [70]:
mpg_manual.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,25.5
6,audi,a4,2.8,1999,6,manual(m5),f,18,26,p,compact,22.0,22.0
8,audi,a4 quattro,1.8,1999,4,manual(m5),4,18,26,p,compact,22.0,22.0
10,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,24.0,24.0

In [71]:
mpg_auto.head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,average_mileage,avg_mpg
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,23.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,21.0
7,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,22.5,22.5
9,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact,20.5,20.5

In [72]:
# lets check our variance between the group of interest and ALL Cars
_, levene_p = stats.levene(mpg_manual.avg_mpg,mpg_auto.avg_mpg)
levene_p < check_α

False

In [73]:
levene_p # variance is similar within each group

0.6545276355131857

In [74]:
mpg_manual.avg_mpg.describe()

count    77.000000
mean     22.227273
std       5.160927
min      10.500000
25%      19.500000
50%      22.000000
75%      25.000000
max      39.500000
Name: avg_mpg, dtype: float64

In [75]:
mpg_auto.avg_mpg.describe()

count    157.000000
mean      19.130573
std        4.684312
min       10.500000
25%       15.000000
50%       19.000000
75%       22.500000
max       35.000000
Name: avg_mpg, dtype: float64

In [79]:
# ok ACTUAL TEST NOW!!!!
# Let us use multi-sample (ttest_ind), 1-tailed(MORE fuel-efficient) ttest 

t_stat, p_val = stats.ttest_ind(mpg_auto.avg_mpg,
                                mpg_manual.avg_mpg,
                               equal_var=True)
t_stat,p_val

(-4.593437735750014, 7.154374401145685e-06)

In [80]:
(p_val) < check_α # REJECT the NULL and assert that a statistically significant difference exists and leads
# us to infer that MANUAL cars get better fuel-efficiency than AUTO cars, p_value close to 0

True